@font-face {
  font-family: Muli-Regular;
  src: url('../assets/fonts/Muli-Regular.ttf');
}

@font-face {
  font-family: Muli-SemiBold;
  src: url('../assets/fonts/Muli-SemiBold.ttf');
}

.muli-semibold {
  font-family: Muli-SemiBold, sans-serif;
}

body {
  font-family: Muli-Regular, sans-serif;
  color: black;
  background-color: #E9E9E9;
}

$inputColor: #DFDFDF;
$themeColor: #aec6cf;
$blackColor: #000000;

.theme-text {
  color: $themeColor;
}

@media (max-width: 500px){
  .tag-line{
    font-size: .675rem!important;
  }

  .form-control{
    max-width: 200px;
  }
}
@media (max-width: 330px){
  .tag-line{
    font-size: .475rem!important;
  }
}

$headerBorderRadius: 35px;

header {

  .dropdown-toggle {
    &::after {
      display: none;
    }

    

  }

  .dropdown-menu {
    border: 0;
    background-color: $themeColor;
  }


  .dropdown{
    z-index: 1;
    i {
      position: absolute;
      top: 5px;
      right: 20px;
      z-index: -1;
      img{
        fill: $themeColor;
      }
    }
  }
  .category-section {
    background-color: $themeColor;
  }

  form {
    .form-control {
      background-color: $inputColor;
      border-radius: $headerBorderRadius 0 0 $headerBorderRadius;
      padding-left: 30px;

    }

    button.btn {
      background-color: $themeColor;
      border-radius: 0 $headerBorderRadius $headerBorderRadius 0;
      padding-left: 25px;
      padding-right: 25px;

    }


  }

  .social-links {
    display: inline-block;
  }


}

button,
textarea, select,
input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid $inputColor !important;
}

.form-control {
  display: block;
  width: auto;
}

.main {

  form {
    .shadow-sm {
      border-radius: 25px;
    }

    textarea {
      padding-left: 30px;
      padding-right: 30px;
      font-size: .875rem;
    }

    .btn {
      background-color: $themeColor;
      border-radius: 25px 0 25px;
    }
  }

  .tweet-details {
    border-radius: 25px;
    overflow: hidden;

    .bg-black {
      font-size: .9rem;
    }

    .bg-white {
      font-size: .825rem;
    }
  }
}

.tag-line{
  font-size: .875rem;
}

.bg-black {
  background-color: black;

}

footer {
  background-color: $themeColor;
}
